<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hotel Layout</title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/flatpickr.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <header class="main-header header-style-two">
            <div class="container-fluid px-5">
                <div class="header-top">
                    <div class="inner-box">
                        <!-- top-left -->
                        <div class="top-left">
                            <span><i class="icon fa fa-location"></i>Kathmandu, Nepal</span>
                        </div>
                        <!-- Top-right -->
                        <div class="top-right">
                            <ul class="social-icon-one">
                                <li>Follow Us :</li>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Main box -->
                <div class="main-box">
                    <div class="logo-box">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo-2.png" alt="" title="Villaz"></a>
                        </div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer">
                        <nav class="nav main-menu">
                            <ul class="navigation">
                                <li><a href="about.html">About Us</a></li>
                                <li class="dropdown"><a href="rooms.html">Rooms & Suites</a>
                                    <ul>
                                        <li><a href="room-details.html">Rooms 1</a></li>
                                        <li><a href="room-details.html">Rooms 2</a></li>
                                        <li><a href="room-details.html">Rooms 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="dine.html">Dine & Bar</a></li>
                                <li><a href="event.html">Meeting & Halls</a></li>
                                <li><a href="facility.html">Services</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- Main Menu End-->
                    </div>

                    <div class="outer-box">
                        <button class="search-btn">
                            <a href="#">Book Now</a>
                        </button>
                    </div>
                </div>

                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <div class="menu-backdrop"></div>
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                    <nav class="menu-box">
                        <div class="upper-box">
                            <div class="nav-logo">
                                <a href="index.html"><img src="images/logo-2.png" alt=""></a>
                            </div>
                            <div class="close-btn"><i class="icon fa fa-times"></i></div>
                        </div>
                        <ul class="navigation clearfix"></ul>
                        <!--Keep This Empty / Menu will come through Javascript-->
              
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </nav>
                </div><!-- End Mobile Menu -->
            </div>
        </header>
        <!--End Main Header -->

        <!-- Start main-content -->
        <section class="page-title" style="background-image: url(images/background/page-title-bg.png);">
            <div class="auto-container">
                <div class="title-outer text-center">
                    <h1 class="title">Our Services</h1>
                </div>
            </div>
        </section>
        <!-- end main-content -->

        <!-- About Section -->
        <section class="about-section">
            <div class="auto-container">
                <div class="row">
                    <!-- Service Block Start -->
                    <div class="service-block-six text-center col-lg-3 col-sm-6">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-shap">
                                    <img src="images/icons/relax.png">
                                </div>
                            </div>
                            <div class="content-box">
                                <h4 class="title">Spa and Wellness</h4>
                            </div>
                        </div>
                    </div>
                    <!-- service-block End -->

                    <!-- Service Block Start -->
                    <div class="service-block-six text-center col-lg-3 col-sm-6">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-shap">
                                    <img src="images/icons/restaurant.png">
                                </div>
                            </div>
                            <div class="content-box">
                                <h4 class="title">Restaurant</h4>
                            </div>
                        </div>
                    </div>
                    <!-- service-block End -->

                    <!-- Service Block Start -->
                    <div class="service-block-six text-center col-lg-3 col-sm-6">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-shap">
                                    <div class="bg-shap">
                                        <img src="images/icons/meeting.png">
                                    </div>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4 class="title">Meeting Room</h4>
                            </div>
                        </div>
                    </div>
                    <!-- service-block End -->

                    <!-- Service Block Start -->
                    <div class="service-block-six text-center col-lg-3 col-sm-6">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-shap">
                                    <div class="bg-shap">
                                        <img src="images/icons/wifi.png">
                                    </div>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4 class="title">Free Wi-Fi</h4>
                            </div>
                        </div>
                    </div>
                    <!-- service-block End -->

                    <!-- Service Block Start -->
                    <div class="service-block-six text-center col-lg-3 col-sm-6">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-shap">
                                    <div class="bg-shap">
                                        <img src="images/icons/swimming-pool.png">
                                    </div>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4 class="title">Swimming Pool</h4>
                            </div>
                        </div>
                    </div>
                    <!-- service-block End -->

                    <!-- Service Block Start -->
                    <div class="service-block-six text-center col-lg-3 col-sm-6">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-shap">
                                    <div class="bg-shap">
                                        <img src="images/icons/building.png">
                                    </div>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4 class="title">City Views</h4>
                            </div>
                        </div>
                    </div>
                    <!-- service-block End -->

                    <!-- Service Block Start -->
                    <div class="service-block-six text-center col-lg-3 col-sm-6">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-shap">
                                    <div class="bg-shap">
                                        <img src="images/icons/tray.png">
                                    </div>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4 class="title">Room Service</h4>
                            </div>
                        </div>
                    </div>
                    <!-- service-block End -->

                    <!-- Service Block Start -->
                    <div class="service-block-six text-center col-lg-3 col-sm-6">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="bg-shap">
                                    <div class="bg-shap">
                                        <img src="images/icons/parking-area.png">
                                    </div>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4 class="title">Parking Facilities</h4>
                            </div>
                        </div>
                    </div>
                    <!-- service-block End -->
                </div>
            </div>
        </section>

        <!-- Main Footer -->
        <footer class="main-footer footer-style-one">
            <!-- Widgets Section -->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row">
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-4 col-sm-6">
                            <div class="footer-widget about-widget wow fadeInLeft">
                                <div class="widget-content">
                                    <div class="logo"><a href="#"> <img src="images/logo-2.png" alt=""></a></div>
                                    <div class="text mb-0">Feel free to reach out if you want collaborate with us, or simply chat.</div>
                                </div>
                            </div>
               
                            <div class="footer-widget widget-social wow fadeInLeft" data-wow-delay="300ms">
                                <h4 class="widget-title mt-3">Follow Us</h4>
                                <div class="widget-content">
                                    <ul class="social-icon">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- footer column -->
                        <div class="footer-column col-lg-3 col-sm-6">
                            <div class="footer-widget info-widget mb-30 wow fadeInLeft" data-wow-delay="300ms">
                                <h4 class="widget-title">Contact Address</h4>
                                <div class="widget-content">
                                    <!-- Contact List -->
                                    <div class="contact-list">
                                        <div class="inner">
                                            <div class="list-info">Kathmandu, Nepal</div>
                                            <div class="list-info">(000) 222-0000</div>
                                            <div class="list-info">example.com.np</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-2 col-sm-6 mb-0 ps-xl-5">
                            <div class="footer-widget links-widget  wow fadeInLeft" data-wow-delay="200ms">
                                <h4 class="widget-title">Quick Links</h4>
                                <div class="widget-content">
                                    <ul class="user-links">
                                        <li><a href="#/">Store Directory</a></li>
                                        <li><a href="#/">Top Hotels</a></li>
                                        <li><a href="#/">Quick Links</a></li>
                                        <li><a href="#/">Important Links</a></li>
                                        <li><a href="#/">Insights</a></li>
                                    </ul>
                                </div>
                            </div>                       
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-3 col-sm-6 mb-0 ps-xl-4">
                            <div class="footer-widget links-widget ps-xl-4 ms-xl-5  wow fadeInLeft" data-wow-delay="200ms">
                                <h4 class="widget-title">Booking Engine</h4>
                                <div class="widget-content">
                                    <ul class="user-links">
                                        <li><a href="#/">Booking.com</a></li>
                                        <li><a href="#/">Expedia</a></li>
                                        <li><a href="#/">Trip.com</a></li>
                                        <li><a href="#/">Agoda</a></li>
                                        <li><a href="#/">Tripadviser</a></li>
                                    </ul>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
            </div>

            <!--  Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="copyright-text">© 2025 Boutique Hotel & Spa | All Rights Reserved</div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer -->

        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>
    </div>

    <!-- End Page Wrapper -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/slick-animation.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>



