RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} !^www.manakamanahillcrest.com.com$ [NC]
RewriteRule ^(.*)$ https://www.manakamanahillcrest.com/$1 [L,R=301]