<!DOCTYPE html>
<html lang="en">

<head>
  <jcms:site:seotitle/>


  <jcms:site:fevicon/>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/flatpickr.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css">
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="shortcut icon" href='images/favicon.png' type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">
  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <jcms:module:header/>
    <!--End Main Header -->

    <!-- Start main-content -->

    <!-- end main-content -->

    <!--Contact Details Start-->
    <jcms:module:contact-us/>
    <!--Contact Details End-->

    <!-- Map Section-->
    <!--End Map Section-->

    <!-- Main Footer -->
    <jcms:module:footer/>
    <!--End Main Footer -->

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

  </div><!-- End Page Wrapper -->




  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/slick-animation.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/script.js"></script>

  <!-- form submit -->
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/jquery.form.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#contact_form').validate({
        errorElement: 'span',
        errorClass: 'validate-has-error text-danger',
        rules: {
          name: { required: true },
          phone: { required: true, number: true },
          address: { required: true },
          email: { required: true, email: true },
          message: { required: true }
        },
        messages: {
          name: { required: "Please Enter Full Name." },
          phone: { required: "Please Enter Phone Number." },
          address: { required: "Please Enter Address." },
          email: { required: "Please Enter Email Address." },
          message: { required: "Please Enter Message." }
        },
        submitHandler: function (form) {
          

          const formData = new FormData(form);
          formData.append("action", "forContact");

          $("button#submit").attr("disabled", true).text('Processing...');

          $.ajax({
            type: "POST",
            url: "enquery_mail.php",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (data) {
              $("button#submit").removeAttr("disabled").text('Submit');
              $('div#result_msg').html(data.message).css('display', 'block' ,'color','red').fadeOut(8000);
              form.reset();
            }
          });

          return false;
        }
      });
    });
  </script>
</body>

</html>