<!DOCTYPE html>
<html lang="en">

<head>
  <jcms:site:seotitle/>
  <jcms:site:fevicon/>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/flatpickr.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css">
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <jcms:module:header/>
    <!--End Main Header -->

    <!-- Start main-content -->

    <!-- end main-content -->

    <!--Contact Details Start-->
    <jcms:module:contact-us/>
    <!--Contact Details End-->

    <!-- Map Section-->
    <!--End Map Section-->

    <!-- Main Footer -->
    <jcms:module:footer/>
    <!--End Main Footer -->

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

  </div><!-- End Page Wrapper -->




  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/slick-animation.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/script.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>

  <!-- form submit -->
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/jquery.form.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#contact_form').validate({
      errorElement: 'span',
      errorClass: 'validate-has-error text-danger',

      rules: {
        name: { required: true },
        phone: { required: true, number: true },
        address: { required: true },
        email: { required: true, email: true },
        message: { required: true }
      },

      messages: {
        name: "Please Enter Full Name.",
        phone: "Please Enter Phone Number.",
        address: "Please Enter Address.",
        email: "Please Enter Email Address.",
        message: "Please Enter Message."
      },

      submitHandler: function (form) {

        var recaptcha = $('[name="g-recaptcha-response"]').val();
        if (!recaptcha) {
          alert("Please verify that you are not a robot.");
          return false;
        }

        const formData = new FormData(form);
        formData.append("action", "forContact");

        $("button#submit").prop("disabled", true).text('Processing...');

        $.ajax({
          type: "POST",
          url: "enquery_mail.php",
          data: formData,
          dataType: "json",
          contentType: false,
          processData: false,

          success: function (data) {
            $("button#submit").prop("disabled", false).text('Submit');
            $('#result_msg').html(data.message)
              .css({ display: 'block', color: 'green' })
              .fadeOut(8000);
            form.reset();
            grecaptcha.reset();
          },

          error: function () {
            $("button#submit").prop("disabled", false).text('Submit');
            alert("Something went wrong. Please try again.");
          }
        });

        return false;
      }
    });
  });
</script>

</body>

</html>