<!DOCTYPE html>
<html lang="en">

<head>
<jcms:site:seotitle/>
<jcms:site:fevicon/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/flatpickr.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <jcms:module:header/>
        <!--End Main Header -->

        <!-- Start main-content -->

        <!-- end main-content -->

        <!--Room Details Start-->
        <section class="blog-details pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 product-details rd-page">
                        <div class="feature-section-five slider-style mb-30">
                            <div class="feature-slider feature-slider-style1">
                                <div class="feature-slide">
                                    <div class="outer-box">
                                        <!-- Image Column -->
                                        <div class="image-box overlay-anim">
                                            <img src="images/resource/room-1.jpg">
                                        </div>
                                    </div>
                                </div>

                                <div class="feature-slide">
                                    <div class="outer-box">
                                        <!-- Image Column -->
                                        <div class="image-box overlay-anim">
                                            <img src="images/resource/room-2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="room-details__left">
                            <div class="wrapper">
                                <h3>Our Hall</h3>
                                <p class="text">Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia
                                    nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus nulla,
                                    sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus interdum
                                    tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet pellentesque
                                    vitae et nunc. Sed vitae leo vitae nisl pellentesque semper.</p>

                                <h4>Table Format</h4>
                                <div class="row justify-content-center">
                                    <div class="col-xl-12">
                                        <div class="room-details__content-right mb-40 mt-20">
                                            <div class="room-details__details-box">
                                                <div class="row">
                                                    <div class="col-6 col-md-3">
                                                        <p class="text mb-0">Room Size</p>
                                                        <h6>600Sq</h6>
                                                    </div>
                                                    <div class="col-6 col-md-3">
                                                        <p class="text mb-0">Rooms Bed</p>
                                                        <h6>2 Single Bed</h6>
                                                    </div>
                                                    <div class="col-6 col-md-3">
                                                        <p class="text mb-0">Occupancy</p>
                                                        <h6>Three Persons</h6>
                                                    </div>
                                                    <div class="col-6 col-md-3">
                                                        <p class="text mb-0">View</p>
                                                        <h6>Sea View</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="text">Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia
                                    nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus nulla,
                                    sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus interdum
                                    tempus. Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet pellentesque
                                    vitae et nunc. Sed vitae leo vitae nisl pellentesque semper.</p>
                            </div>
                            <div class="mt-40">
                                <h4>Amenities</h4>
                                <div class="row room-facility-list mb-40">
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="list-one d-flex align-items-center me-sm-4 mb-3">
                                            <div class="icon text-theme-color1 mr-10 flex-shrink-0"><img
                                                    src="images/icons/wifi.png"></div>
                                            <h6 class="title m-0">Air Conditionar</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="list-one d-flex align-items-center me-sm-4 mb-3">
                                            <div class="icon text-theme-color1 mr-10 flex-shrink-0"><img
                                                    src="images/icons/swimming-pool.png"></div>
                                            <h6 class="title m-0">Swiming Pool</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="list-one d-flex align-items-center me-sm-4 mb-3">
                                            <div class="icon text-theme-color1 mr-10 flex-shrink-0"><img
                                                    src="images/icons/relax.png"></div>
                                            <h6 class="title m-0">Gymnasium</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="list-one d-flex align-items-center me-sm-4 mb-3">
                                            <div class="icon text-theme-color1 mr-10 flex-shrink-0"><img
                                                    src="images/icons/park.png"></div>
                                            <h6 class="title m-0">Parking</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="list-one d-flex align-items-center me-sm-4 mb-3">
                                            <div class="icon text-theme-color1 mr-10 flex-shrink-0"><img
                                                    src="images/icons/wifi.png"></div>
                                            <h6 class="title m-0">Security</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="list-one d-flex align-items-center me-sm-4">
                                            <div class="icon text-theme-color1 mr-10 flex-shrink-0"><img
                                                    src="images/icons/wifi.png"></div>
                                            <h6 class="title m-0">Playground</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Room Details End-->

        <!-- Main Footer -->
        <footer class="main-footer footer-style-one">
            <!-- Widgets Section -->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row">
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-4 col-sm-6">
                            <div class="footer-widget about-widget wow fadeInLeft">
                                <div class="widget-content">
                                    <div class="logo"><a href="#"> <img src="images/logo-2.png" alt=""></a></div>
                                    <div class="text mb-0">Feel free to reach out if you want collaborate with us, or
                                        simply chat.</div>
                                </div>
                            </div>

                            <div class="footer-widget widget-social wow fadeInLeft" data-wow-delay="300ms">
                                <h4 class="widget-title mt-3">Follow Us</h4>
                                <div class="widget-content">
                                    <ul class="social-icon">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- footer column -->
                        <div class="footer-column col-lg-3 col-sm-6">
                            <div class="footer-widget info-widget mb-30 wow fadeInLeft" data-wow-delay="300ms">
                                <h4 class="widget-title">Contact Address</h4>
                                <div class="widget-content">
                                    <!-- Contact List -->
                                    <div class="contact-list">
                                        <div class="inner">
                                            <div class="list-info">Kathmandu, Nepal</div>
                                            <div class="list-info">(000) 222-0000</div>
                                            <div class="list-info">example.com.np</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-2 col-sm-6 mb-0 ps-xl-5">
                            <div class="footer-widget links-widget  wow fadeInLeft" data-wow-delay="200ms">
                                <h4 class="widget-title">Quick Links</h4>
                                <div class="widget-content">
                                    <ul class="user-links">
                                        <li><a href="#/">Store Directory</a></li>
                                        <li><a href="#/">Top Hotels</a></li>
                                        <li><a href="#/">Quick Links</a></li>
                                        <li><a href="#/">Important Links</a></li>
                                        <li><a href="#/">Insights</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-3 col-sm-6 mb-0 ps-xl-4">
                            <div class="footer-widget links-widget ps-xl-4 ms-xl-5  wow fadeInLeft"
                                data-wow-delay="200ms">
                                <h4 class="widget-title">Booking Engine</h4>
                                <div class="widget-content">
                                    <ul class="user-links">
                                        <li><a href="#/">Booking.com</a></li>
                                        <li><a href="#/">Expedia</a></li>
                                        <li><a href="#/">Trip.com</a></li>
                                        <li><a href="#/">Agoda</a></li>
                                        <li><a href="#/">Tripadviser</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="copyright-text">© 2025 Boutique Hotel & Spa | All Rights Reserved</div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer -->

        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>
    </div>

    <!-- End Page Wrapper -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/slick-animation.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>