<!DOCTYPE html>
<html lang="en">

<head>
  <jcms:site:seotitle/>
  

  <jcms:site:fevicon/>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/flatpickr.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/slick.css" >
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
  <jcms:module:header/>


    <!--End Main Header -->

    <!-- Banner Section -->

        <jcms:module:homeslider/>

    <!-- End Banner Section -->

    <!-- About Section -->
<jcms:module:home-article/>
    <!--Emd About Section -->

    <!-- Marquee Section -->
    <section class="marquee-section pt-0">
      <div class="marquee marquee-style-two">
        <div class="marquee-group">
          <div class="text" data-text="BOOKING">DESIGN.</div>
          <div class="text" data-text="TOUR">INTERIOR DESIGN</div>
          <div class="text" data-text="ONLINE">ARCHITECTURE.</div>
        </div>
        <div class="marquee-group">
          <div class="text" data-text="BOOKING">DESIGN.</div>
          <div class="text" data-text="TOUR">INTERIOR DESIGN</div>
          <div class="text" data-text="ONLINE">ARCHITECTURE.</div>
        </div>
      </div>
    </section>
    <!--End Marquee Section -->

    <!-- service-section-two -->

    <jcms:module:facility-service-home/>
    <!-- End service-section -->

    <!-- Funfact Section -->
    <section class="funfact-section-three pb-0">
      <div class="outer-box">
        <div class="auto-container">
          <div class="fact-counter">
            <div class="row">
              <!-- Counter block-->
              <div class="counter-block-two col-lg-3 col-sm-6">
                <div class="inner-box">
                  <div class="count-box"><span class="count-text" data-speed="3000" data-stop="20">0</span></div>
                  <div class="counter-text">Years Of <br /> Experience</div>
                </div>
              </div>

              <!-- Counter block-->
              <div class="counter-block-two col-lg-3 col-sm-6">
                <div class="inner-box">
                  <div class="count-box"><span class="count-text" data-speed="3000" data-stop="10">0</span></div>
                  <div class="counter-text">Online <br /> Booking</div>
                </div>
              </div>

              <!-- Counter block-->
              <div class="counter-block-two col-lg-3 col-sm-6">
                <div class="inner-box">
                  <div class="count-box"><span class="count-text" data-speed="3000" data-stop="40">0</span></div>
                  <div class="counter-text">Experience <br /> Hotel Boy</div>
                </div>
              </div>

              <!-- Counter block-->
              <div class="counter-block-two col-lg-3 col-sm-6">
                <div class="inner-box">
                  <div class="count-box"><span class="count-text" data-speed="3000" data-stop="30">0</span></div>
                  <div class="counter-text">Best Hotel <br /> Award</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Funfact Section -->

    <!-- Pricing Section Three -->
    <jcms:module:list-room-detail/>

    <!-- End Pricing Section -->

    <!-- Testimonial Section -->

    <jcms:module:testimonial-title/>
    <!-- End Testimonial Section One -->

    <!-- news-section -->
<jcms:module:inner-nearby-detail/>
    <!-- End news section -->

    <!-- Main Footer -->
  <jcms:module:footer/>
    <!--End Main Footer -->

  <jcms:module:popup/>

    <div class="three_app">
      <a href="virtual-tour" target="_blank" class="three"><img src="images/icons/tour.jpg"></a>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

  </div><!-- End Page Wrapper -->
  <!-- <script data-cfasync="false" src='cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'></script> -->
  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/slick-animation.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/mixitup.js"></script>
  <script src="js/flatpickr.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/gsap.min.js"></script>
  <script src="js/ScrollTrigger.min.js"></script>
  <script src="js/SplitText.min.js"></script>
  <script src="js/splitType.js"></script>
  <script src="js/script.js"></script>
  <script src="js/script-gsap.js"></script>
  <script>
    // Background image area start here ***
    $("[data-background").each(function () {
      $(this).css(
        "background-image",
        "url( " + $(this).attr("data-background") + "  )"
      );
    });

    // Background image hover change area start here ***
    $(".service-block-two").hover(function () {
      let newBackground = $(this).data("bg");
      $(".service-section-two .outer-box")
        .attr("data-background", newBackground)
        .css("background-image", "url(" + newBackground + ")");
    });
  </script>

<script type="text/javascript">
  $(document).ready(function () {
    // FIX: Move modals to body tag to prevent backdrop from covering them
    if ($("#modal-popup-video").length) {
      $("#modal-popup-video").appendTo("body");
    }
    if ($("#modal-popup-image").length) {
      $("#modal-popup-image").appendTo("body");
    }

    // Logic to handle Video -> Image sequence
    if ($("#modal-popup-video").length > 0) {
      // 1. Show Video Modal
      var videoModal = new bootstrap.Modal(document.getElementById('modal-popup-video'));
      videoModal.show();

      // 2. When Video closes, stop video and open Image Modal
      $("#modal-popup-video").on("hidden.bs.modal", function () {
        $("#modal-popup-video iframe").attr("src", ""); // Stop video playback
        console.log("video closed");

        if ($("#modal-popup-image").length > 0) {
          var imageModal = new bootstrap.Modal(document.getElementById('modal-popup-image'));
          imageModal.show();
        }
      });
    }
    else if ($("#modal-popup-image").length > 0) {
      // No video, just show Image Modal
      var imageModal = new bootstrap.Modal(document.getElementById('modal-popup-image'));
      imageModal.show();
    }

    // Handle Dealand side buttons
    jQuery(".deals .close").on("click", function () {
      jQuery(".deals").addClass("d-none");
    });
    $("#offon").on("click", function () {
      $(".deals").toggleClass("d-none");
    });
  });
</script>
</body>

</html>