<!DOCTYPE html>
<html lang="en">

<head>
<jcms:site:seotitle/>
<jcms:site:fevicon/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/flatpickr.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href='https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css'>


 </head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <jcms:module:header/>
        <!--End Main Header -->

        <!-- Start main-content -->
        <jcms:module:sub-package-bread/>
        <!-- end main-content -->
        <jcms:module:sub-package-detail/>
        <!--Room Details Start-->

        <!--Room Details End-->
        <jcms:module:footer/>
        <!-- Main Footer -->
        <!--End Main Footer -->

        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>
    </div>

    <!-- End Page Wrapper -->
    <script data-cfasync="false" src='/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'></script>
    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/slick-animation.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/script.js"></script>
    <script>
       $(document).ready(function () {

            $("#check_in").datepicker({
                dateFormat: "yy-mm-dd",
                minDate: 0,
                onSelect: function (selectedDate) {
                    var date = new Date(selectedDate);
                    date.setDate(date.getDate() + 1);

                    $("#check_out").datepicker("option", "minDate", date);
                    $("#check_out").datepicker("setDate", date);
                }
            }).datepicker("setDate", new Date());

            $("#check_out").datepicker({
                dateFormat: "yy-mm-dd",
                minDate: 1
            });

            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            $("#check_out").datepicker("setDate", tomorrow);

        });

            //    $(document).ready(function () {
            //         // Get today's date
            //         var today = new Date();
            //         var tomorrow = new Date();
            //         tomorrow.setDate(today.getDate() + 1);

            //         // Initialize check-in datepicker
            //         $("#checkin").datepicker({
            //             dateFormat: 'yy-mm-dd',
            //             minDate: today,
            //             onSelect: function (dateText) {
            //                 var selectedDate = new Date(dateText);
            //                 var nextDay = new Date(selectedDate);
            //                 nextDay.setDate(selectedDate.getDate() + 1);

            //                 // Update checkout datepicker
            //                 $("#checkout").datepicker("option", "minDate", nextDay);
            //                 $("#checkout").datepicker("setDate", nextDay);
            //             }
            //         }).datepicker("setDate", today);

            //         // Initialize check-out datepicker
            //         $("#checkout").datepicker({
            //             dateFormat: 'yy-mm-dd',
            //             minDate: tomorrow
            //         }).datepicker("setDate", tomorrow);
            //     });
    </script>

</body>

</html>